doctype html
html(ng-app='fakebookApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    title Fakebook Music Database
    // CSS Styles
    link(rel='stylesheet', href='stylesheets/style.css')
    // Angular Material
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css')
    // JavaScripts
    // jQuery
    script(src='//code.jquery.com/jquery-2.0.3.min.js')
    // Angular
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js')
    // Angular Material Dependencies
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js')
    // Angular Material
    script(src='//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js')
  body(layout='row')
    block content